# Introduction to data

Statistics is the study of how best to collect, analyze and draw conclusions from data following a general process of investigation :
    1. Identify a question or problem
    2. Collect relevant data on topic
    3. Analyze the data
    4. Form a conslusion

Statistics should answer 3 primary questions :
    * how best we collect data ?
    * how should it be analyzed ?
    * What can we infer from the analysis ?

 ## __Case Study__ : using stents to prevent strokes

**Generating a table of observations for trreatment and control group of a stent efficiency study**

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_rows = 20 # control the number of rows printed

Creating 2 distinct groups respecting the amount of observations given in the book :

In [2]:
#Creating the treatment group
treatment = pd.DataFrame(columns=['group','thirty_days','365days'])
treatment['group'] =  ['treatment']*224
treatment['thirty_days'] = (['no event']*191)  +  (['stroke']*33)
treatment['365days'] = (['no event']*179) + (['stroke'] * 45)
treatment

         group thirty_days   365days
0    treatment    no event  no event
1    treatment    no event  no event
2    treatment    no event  no event
3    treatment    no event  no event
4    treatment    no event  no event
5    treatment    no event  no event
6    treatment    no event  no event
7    treatment    no event  no event
8    treatment    no event  no event
9    treatment    no event  no event
..         ...         ...       ...
214  treatment      stroke    stroke
215  treatment      stroke    stroke
216  treatment      stroke    stroke
217  treatment      stroke    stroke
218  treatment      stroke    stroke
219  treatment      stroke    stroke
220  treatment      stroke    stroke
221  treatment      stroke    stroke
222  treatment      stroke    stroke
223  treatment      stroke    stroke

[224 rows x 3 columns]

In [3]:
#creating the control group
control = pd.DataFrame(columns=['group','thirty_days','365days'])
control['group'] = ['control']*227
control['thirty_days'] = (['no event']*214)+(['stroke']*13)
control['365days'] = (['no event'] * 199)+(['stroke']*28)
control

       group thirty_days   365days
0    control    no event  no event
1    control    no event  no event
2    control    no event  no event
3    control    no event  no event
4    control    no event  no event
5    control    no event  no event
6    control    no event  no event
7    control    no event  no event
8    control    no event  no event
9    control    no event  no event
..       ...         ...       ...
217  control      stroke    stroke
218  control      stroke    stroke
219  control      stroke    stroke
220  control      stroke    stroke
221  control      stroke    stroke
222  control      stroke    stroke
223  control      stroke    stroke
224  control      stroke    stroke
225  control      stroke    stroke
226  control      stroke    stroke

[227 rows x 3 columns]

Merge the 2 Datraframes to produce the same table as the example :

In [4]:
frames = [treatment,control]
patients = pd.concat(frames,ignore_index=True)
patients

         group thirty_days   365days
0    treatment    no event  no event
1    treatment    no event  no event
2    treatment    no event  no event
3    treatment    no event  no event
4    treatment    no event  no event
5    treatment    no event  no event
6    treatment    no event  no event
7    treatment    no event  no event
8    treatment    no event  no event
9    treatment    no event  no event
..         ...         ...       ...
441    control      stroke    stroke
442    control      stroke    stroke
443    control      stroke    stroke
444    control      stroke    stroke
445    control      stroke    stroke
446    control      stroke    stroke
447    control      stroke    stroke
448    control      stroke    stroke
449    control      stroke    stroke
450    control      stroke    stroke

[451 rows x 3 columns]

Shuffling The rows

In [8]:
patients = patients.sample(frac=1).reset_index(drop=True)

In [9]:
patients

         group thirty_days   365days
0    treatment    no event  no event
1      control    no event  no event
2    treatment    no event  no event
3    treatment    no event  no event
4      control    no event  no event
5      control      stroke    stroke
6      control    no event  no event
7      control    no event  no event
8      control    no event  no event
9    treatment      stroke    stroke
..         ...         ...       ...
441    control    no event  no event
442  treatment    no event  no event
443  treatment      stroke    stroke
444    control    no event  no event
445  treatment    no event  no event
446  treatment      stroke    stroke
447    control    no event  no event
448  treatment    no event  no event
449    control    no event  no event
450    control    no event  no event

[451 rows x 3 columns]