# Foundations for inference

Statistical inference is concerned with understanding and  drawing conclusions out of data. Relying on the quality of parameter estimates.

**N.B : ** We are going to work on the yrbss file sample used in the book.  The data were retrieved through the website : https://www.cdc.gov/healthyyouth/data/yrbs/data.htm, and focused and the 2013 survey to match the datas from the book

## 4.1 Variability in estimates

We want to try to estimate some features out of the YRBSS file using **samples** :

    1. The average height of high schoolers
    2. The average weight 
    3. How many days per week high schoolers are physically active
    4. How many days per week do they practice weight training

### 4.1.1 Point estimates

Generally speaking, a point estimate is a statistic parameter (mean, variance, standard deviation,...) used to estimate a parameter in a population, usually applied on samples.

Usually, estimates vary from a sample to another depending on the sample observations. We call this difference a **sampling variation**. The estimate won't be exactly equal to the population parameter, but will be very close to it.

### Uploading the Yrbss file

In [2]:
import pandas as pd
import numpy as np

In [6]:
df = pd.read_excel('../Dataset/Yrbss.xlsx')

* Raw Dataframe

In [7]:
#Raw dataframe
df.head()

,age,gender,grade,stheight,stweight,qnpa7day,qbikehelmet,qnmusclestrength
0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,2.0
1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
2,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
3,NaN,NaN,NaN,NaN,NaN,2.0,1.0,2.0
4,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13583 entries, 0 to 13582
Data columns (total 8 columns):
age                 13506 non-null float64
gender              13571 non-null float64
grade               13481 non-null float64
stheight            12579 non-null float64
stweight            12579 non-null float64
qnpa7day            13310 non-null float64
qbikehelmet         13272 non-null float64
qnmusclestrength    12407 non-null float64
dtypes: float64(8)
memory usage: 849.0 KB

* Dataframe after cleaning up the "NaN"

In [11]:
df.dropna(inplace=True)
df.head()

,age,gender,grade,stheight,stweight,qnpa7day,qbikehelmet,qnmusclestrength
66,1.0,2.0,2.0,1.75,65.77,1.0,2.0,2.0
67,1.0,2.0,4.0,1.70,54.89,2.0,2.0,2.0
70,1.0,2.0,1.0,1.73,65.77,1.0,2.0,1.0
73,2.0,2.0,1.0,1.78,55.79,1.0,6.0,1.0
78,2.0,2.0,1.0,1.73,82.56,2.0,6.0,2.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11388 entries, 66 to 13571
Data columns (total 8 columns):
age                 11388 non-null float64
gender              11388 non-null float64
grade               11388 non-null float64
stheight            11388 non-null float64
stweight            11388 non-null float64
qnpa7day            11388 non-null float64
qbikehelmet         11388 non-null float64
qnmusclestrength    11388 non-null float64
dtypes: float64(8)
memory usage: 800.7 KB

In [ ]:
# We go from 13583 observations to 11388 non-null observations