# Formating the Yrbss file

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../Dataset/yrbss.xlsx')

* Raw Dataframe

In [3]:
#Raw dataframe
df.head()

,age,gender,grade,stheight,stweight,qnpa7day,qbikehelmet,qmusclestrength
0,NaN,NaN,NaN,NaN,NaN,2.0,NaN,1.0
1,NaN,NaN,NaN,NaN,NaN,1.0,NaN,8.0
2,NaN,NaN,NaN,NaN,NaN,1.0,NaN,8.0
3,NaN,NaN,NaN,NaN,NaN,2.0,1.0,1.0
4,NaN,NaN,NaN,NaN,NaN,1.0,NaN,8.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13583 entries, 0 to 13582
Data columns (total 8 columns):
age                13506 non-null float64
gender             13571 non-null float64
grade              13481 non-null float64
stheight           12579 non-null float64
stweight           12579 non-null float64
qnpa7day           13310 non-null float64
qbikehelmet        13272 non-null float64
qmusclestrength    12407 non-null float64
dtypes: float64(8)
memory usage: 849.0 KB

* Dataframe after cleaning up the "NaN"

In [5]:
df.dropna(inplace=True)
df.head()

,age,gender,grade,stheight,stweight,qnpa7day,qbikehelmet,qmusclestrength
66,1.0,2.0,2.0,1.75,65.77,1.0,2.0,1.0
67,1.0,2.0,4.0,1.70,54.89,2.0,2.0,2.0
70,1.0,2.0,1.0,1.73,65.77,1.0,2.0,8.0
73,2.0,2.0,1.0,1.78,55.79,1.0,6.0,7.0
78,2.0,2.0,1.0,1.73,82.56,2.0,6.0,1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11388 entries, 66 to 13571
Data columns (total 8 columns):
age                11388 non-null float64
gender             11388 non-null float64
grade              11388 non-null float64
stheight           11388 non-null float64
stweight           11388 non-null float64
qnpa7day           11388 non-null float64
qbikehelmet        11388 non-null float64
qmusclestrength    11388 non-null float64
dtypes: float64(8)
memory usage: 800.7 KB

In [7]:
# We go from 13583 observations to 11388 non-null observations

Renaming the columns

In [8]:
df.columns = ['age','gender','grade','height','weight','active','helmet','lifting']

In [9]:
df.head()

    age  gender  grade  height  weight  active  helmet  lifting
66  1.0     2.0    2.0    1.75   65.77     1.0     2.0      1.0
67  1.0     2.0    4.0    1.70   54.89     2.0     2.0      2.0
70  1.0     2.0    1.0    1.73   65.77     1.0     2.0      8.0
73  2.0     2.0    1.0    1.78   55.79     1.0     6.0      7.0
78  2.0     2.0    1.0    1.73   82.56     2.0     6.0      1.0

Resetting the indexes

In [10]:
df.reset_index(drop='index',inplace=True)
df.head(10)

   age  gender  grade  height  weight  active  helmet  lifting
0  1.0     2.0    2.0    1.75   65.77     1.0     2.0      1.0
1  1.0     2.0    4.0    1.70   54.89     2.0     2.0      2.0
2  1.0     2.0    1.0    1.73   65.77     1.0     2.0      8.0
3  2.0     2.0    1.0    1.78   55.79     1.0     6.0      7.0
4  2.0     2.0    1.0    1.73   82.56     2.0     6.0      1.0
5  2.0     2.0    1.0    1.78   65.77     1.0     2.0      8.0
6  2.0     2.0    1.0    1.75   88.45     2.0     2.0      7.0
7  3.0     2.0    1.0    1.60   54.43     2.0     2.0      5.0
8  3.0     2.0    1.0    1.60   54.43     2.0     5.0      4.0
9  3.0     2.0    1.0    1.78   66.23     1.0     2.0      4.0

** We need to replace the specification codes with their values like it is related in the documentation **<br/>
https://github.com/chikoungoun/OpenIntro/blob/master/Chapter%204/Yrbss/2017_yrbs_sadc_documentation.pdf (starting page6) <br/>
Or in my summary : https://github.com/chikoungoun/OpenIntro/blob/master/Chapter%204/Yrbss/Yrbss-Specifications%20fo%20OpenIntro.docx

* ** Changing the ages**

the numbers 1 to 7 correspond respectively to the ages between 12 and 18 or higher

In [11]:
df.head()

   age  gender  grade  height  weight  active  helmet  lifting
0  1.0     2.0    2.0    1.75   65.77     1.0     2.0      1.0
1  1.0     2.0    4.0    1.70   54.89     2.0     2.0      2.0
2  1.0     2.0    1.0    1.73   65.77     1.0     2.0      8.0
3  2.0     2.0    1.0    1.78   55.79     1.0     6.0      7.0
4  2.0     2.0    1.0    1.73   82.56     2.0     6.0      1.0

In [12]:
#counting how many interation of each age category we have
df['age'].value_counts()

6.0    2976
5.0    2697
4.0    2613
7.0    1961
3.0    1131
2.0       6
1.0       4
Name: age, dtype: int64

In [13]:
age = df['age']

In [14]:
#Replacing the mapping values
age.replace([1,2,3,4,5,6,7],[12,13,14,15,16,17,18],inplace=True)

In [15]:
df.head()

    age  gender  grade  height  weight  active  helmet  lifting
0  12.0     2.0    2.0    1.75   65.77     1.0     2.0      1.0
1  12.0     2.0    4.0    1.70   54.89     2.0     2.0      2.0
2  12.0     2.0    1.0    1.73   65.77     1.0     2.0      8.0
3  13.0     2.0    1.0    1.78   55.79     1.0     6.0      7.0
4  13.0     2.0    1.0    1.73   82.56     2.0     6.0      1.0

In [16]:
#let's be sure of the amount of ages
print(df['age'].value_counts())
print('Done')

17.0    2976
16.0    2697
15.0    2613
18.0    1961
14.0    1131
13.0       6
12.0       4
Name: age, dtype: int64
Done

* **Replacing the genders**

1 for females, and 2 for males

In [17]:
sex = df['gender']
sex.value_counts()

2.0    5778
1.0    5610
Name: gender, dtype: int64

In [18]:
sex.replace([1,2],['female','male'],inplace=True)

In [19]:
df['gender'].value_counts()

male      5778
female    5610
Name: gender, dtype: int64

* **Replacing the grades**

replacing the values we have (1,2,3,4) with their high school grades equivalent (9th, 10th, 11th and 12th)

In [20]:
grades = df['grade']
grades.value_counts()

4.0    3074
1.0    2936
3.0    2716
2.0    2662
Name: grade, dtype: int64

In [21]:
grades.replace([1,2,3,4],[9,10,11,12],inplace=True)

In [22]:
df['gender'].value_counts()

male      5778
female    5610
Name: gender, dtype: int64

* **Replacing the helmet stat**

measuring how often a biker wears his helmet

In [23]:
helmet = df['helmet']

In [24]:
helmet.value_counts()

2.0    5975
1.0    3907
3.0     607
6.0     342
4.0     300
5.0     257
Name: helmet, dtype: int64

In [25]:
helmet.replace([1,2,3,4,5,6],['not riding','never','rarely','sometimes','most of the time','always'],inplace=True)

In [26]:
df['helmet'].value_counts()

never               5975
not riding          3907
rarely               607
always               342
sometimes            300
most of the time     257
Name: helmet, dtype: int64

* ** Replacing the lifting stats**

Measuring how often a student had strength training

In [27]:
lifting = df['lifting']

In [28]:
lifting.value_counts()

1.0    3297
8.0    1921
4.0    1359
6.0    1228
3.0    1199
5.0     976
2.0     924
7.0     484
Name: lifting, dtype: int64

In [29]:
lifting.replace(np.arange(1,9),np.arange(8),inplace=True)

In [30]:
df['lifting'].value_counts()

0.0    3297
7.0    1921
3.0    1359
5.0    1228
2.0    1199
4.0     976
1.0     924
6.0     484
Name: lifting, dtype: int64

### Dataframe after replacing all the data following the book example

In [31]:
#Swap the columns to match exactly the dataframe
df = df[['age','gender','grade','height','weight','helmet','active','lifting']]

In [32]:
df.head(20)

     age gender  grade  height  weight            helmet  active  lifting
0   12.0   male   10.0    1.75   65.77             never     1.0      0.0
1   12.0   male   12.0    1.70   54.89             never     2.0      1.0
2   12.0   male    9.0    1.73   65.77             never     1.0      7.0
3   13.0   male    9.0    1.78   55.79            always     1.0      6.0
4   13.0   male    9.0    1.73   82.56            always     2.0      0.0
5   13.0   male    9.0    1.78   65.77             never     1.0      7.0
6   13.0   male    9.0    1.75   88.45             never     2.0      6.0
7   14.0   male    9.0    1.60   54.43             never     2.0      4.0
8   14.0   male    9.0    1.60   54.43  most of the time     2.0      3.0
9   14.0   male    9.0    1.78   66.23             never     1.0      3.0
10  14.0   male    9.0    1.75   63.05        not riding     2.0      0.0
11  14.0   male    9.0    1.73   56.70             never     1.0      5.0
12  14.0   male   10.0    1.68   69.40            always     1.0      2.0
13  14.0   male    9.0    1.60   56.70             never     2.0      5.0
14  14.0   male    9.0    1.68   54.43            rarely     1.0      7.0
15  14.0   male    9.0    1.60   54.43             never     2.0      2.0
16  14.0   male    9.0    1.70   59.88             never     1.0      7.0
17  14.0   male    9.0    1.75   70.31        not riding     2.0      1.0
18  14.0   male    9.0    1.80   60.33        not riding     2.0      1.0
19  14.0   male    9.0    1.55   50.80             never     1.0      7.0

## * Exporting the file in csv

In [33]:
df.to_csv('../Dataset/yrbss.csv')