# Formating the Yrbss file

Small file I created to format and prepare the excel files, change the names and order of the columns, drop the empty cells and export them in csv

Needs the excel name file at **In [2]** and the csv output name at **In[33]**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('../Dataset/yrbss_2011.xlsx')

* Raw Dataframe

In [3]:
#Raw dataframe
df.head()

   age  sex  grade  stheight  stweight  qnpa7day  qbikehelmet  qmusclestrength
0  NaN  NaN    NaN       NaN       NaN       1.0          NaN              8.0
1  NaN  NaN    NaN       NaN       NaN       1.0          NaN              8.0
2  NaN  NaN    NaN       NaN       NaN       1.0          2.0              5.0
3  NaN  NaN    NaN       NaN       NaN       2.0          NaN              4.0
4  NaN  NaN    NaN       NaN       NaN       NaN          NaN              NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15425 entries, 0 to 15424
Data columns (total 8 columns):
age                15363 non-null float64
sex                15364 non-null float64
grade              15299 non-null float64
stheight           14285 non-null float64
stweight           14285 non-null float64
qnpa7day           15048 non-null float64
qbikehelmet        14116 non-null float64
qmusclestrength    11553 non-null float64
dtypes: float64(8)
memory usage: 964.1 KB

* Dataframe after cleaning up the "NaN"

In [5]:
df.dropna(inplace=True)
df.head()

,age,sex,grade,stheight,stweight,qnpa7day,qbikehelmet,qmusclestrength
82,1.0,2.0,3.0,1.68,68.04,2.0,2.0,8.0
83,1.0,2.0,1.0,1.75,50.35,2.0,2.0,1.0
90,1.0,2.0,1.0,1.70,44.45,1.0,6.0,8.0
94,1.0,2.0,4.0,1.80,81.19,1.0,2.0,8.0
99,1.0,2.0,2.0,1.68,45.36,2.0,2.0,6.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10554 entries, 82 to 15424
Data columns (total 8 columns):
age                10554 non-null float64
sex                10554 non-null float64
grade              10554 non-null float64
stheight           10554 non-null float64
stweight           10554 non-null float64
qnpa7day           10554 non-null float64
qbikehelmet        10554 non-null float64
qmusclestrength    10554 non-null float64
dtypes: float64(8)
memory usage: 742.1 KB

In [7]:
# We go from 13583 observations to 11388 non-null observations

Renaming the columns

In [8]:
df.columns = ['age','gender','grade','height','weight','active','helmet','lifting']

In [9]:
df.head()

    age  gender  grade  height  weight  active  helmet  lifting
82  1.0     2.0    3.0    1.68   68.04     2.0     2.0      8.0
83  1.0     2.0    1.0    1.75   50.35     2.0     2.0      1.0
90  1.0     2.0    1.0    1.70   44.45     1.0     6.0      8.0
94  1.0     2.0    4.0    1.80   81.19     1.0     2.0      8.0
99  1.0     2.0    2.0    1.68   45.36     2.0     2.0      6.0

Resetting the indexes

In [10]:
df.reset_index(drop='index',inplace=True)
df.head(10)

   age  gender  grade  height  weight  active  helmet  lifting
0  1.0     2.0    3.0    1.68   68.04     2.0     2.0      8.0
1  1.0     2.0    1.0    1.75   50.35     2.0     2.0      1.0
2  1.0     2.0    1.0    1.70   44.45     1.0     6.0      8.0
3  1.0     2.0    4.0    1.80   81.19     1.0     2.0      8.0
4  1.0     2.0    2.0    1.68   45.36     2.0     2.0      6.0
5  2.0     2.0    1.0    1.83  113.40     1.0     2.0      7.0
6  2.0     2.0    1.0    1.65   90.72     2.0     1.0      3.0
7  2.0     2.0    1.0    1.85  180.99     1.0     6.0      8.0
8  2.0     2.0    1.0    1.68   58.06     1.0     3.0      6.0
9  2.0     2.0    1.0    1.68   61.24     2.0     1.0      3.0

** We need to replace the specification codes with their values like it is related in the documentation **<br/>
https://github.com/chikoungoun/OpenIntro/blob/master/Chapter%204/Yrbss/2017_yrbs_sadc_documentation.pdf (starting page6) <br/>
Or in my summary : https://github.com/chikoungoun/OpenIntro/blob/master/Chapter%204/Yrbss/Yrbss-Specifications%20fo%20OpenIntro.docx

* ** Changing the ages**

the numbers 1 to 7 correspond respectively to the ages between 12 and 18 or higher

In [11]:
df.head()

   age  gender  grade  height  weight  active  helmet  lifting
0  1.0     2.0    3.0    1.68   68.04     2.0     2.0      8.0
1  1.0     2.0    1.0    1.75   50.35     2.0     2.0      1.0
2  1.0     2.0    1.0    1.70   44.45     1.0     6.0      8.0
3  1.0     2.0    4.0    1.80   81.19     1.0     2.0      8.0
4  1.0     2.0    2.0    1.68   45.36     2.0     2.0      6.0

In [12]:
#counting how many interation of each age category we have
df['age'].value_counts()

5.0    2780
6.0    2707
4.0    2425
7.0    1603
3.0    1023
2.0      10
1.0       6
Name: age, dtype: int64

In [13]:
age = df['age']

In [14]:
#Replacing the mapping values
age.replace([1,2,3,4,5,6,7],[12,13,14,15,16,17,18],inplace=True)

In [15]:
df.head()

    age  gender  grade  height  weight  active  helmet  lifting
0  12.0     2.0    3.0    1.68   68.04     2.0     2.0      8.0
1  12.0     2.0    1.0    1.75   50.35     2.0     2.0      1.0
2  12.0     2.0    1.0    1.70   44.45     1.0     6.0      8.0
3  12.0     2.0    4.0    1.80   81.19     1.0     2.0      8.0
4  12.0     2.0    2.0    1.68   45.36     2.0     2.0      6.0

In [16]:
#let's be sure of the amount of ages
print(df['age'].value_counts())
print('Done')

16.0    2780
17.0    2707
15.0    2425
18.0    1603
14.0    1023
13.0      10
12.0       6
Name: age, dtype: int64
Done

* **Replacing the genders**

1 for females, and 2 for males

In [17]:
sex = df['gender']
sex.value_counts()

1.0    5290
2.0    5264
Name: gender, dtype: int64

In [18]:
sex.replace([1,2],['female','male'],inplace=True)

In [19]:
df['gender'].value_counts()

female    5290
male      5264
Name: gender, dtype: int64

* **Replacing the grades**

replacing the values we have (1,2,3,4) with their high school grades equivalent (9th, 10th, 11th and 12th)

In [20]:
grades = df['grade']
grades.value_counts()

3.0    2816
4.0    2626
2.0    2619
1.0    2493
Name: grade, dtype: int64

In [21]:
grades.replace([1,2,3,4],[9,10,11,12],inplace=True)

In [22]:
df['gender'].value_counts()

female    5290
male      5264
Name: gender, dtype: int64

* **Replacing the helmet stat**

measuring how often a biker wears his helmet

In [23]:
helmet = df['helmet']

In [24]:
helmet.value_counts()

2.0    5789
1.0    3329
3.0     582
6.0     319
4.0     299
5.0     236
Name: helmet, dtype: int64

In [25]:
helmet.replace([1,2,3,4,5,6],['not riding','never','rarely','sometimes','most of the time','always'],inplace=True)

In [26]:
df['helmet'].value_counts()

never               5789
not riding          3329
rarely               582
always               319
sometimes            299
most of the time     236
Name: helmet, dtype: int64

* ** Replacing the lifting stats**

Measuring how often a student had strength training

In [27]:
lifting = df['lifting']

In [28]:
lifting.value_counts()

1.0    2791
8.0    1805
6.0    1322
4.0    1289
3.0    1119
5.0     897
2.0     852
7.0     479
Name: lifting, dtype: int64

In [29]:
lifting.replace(np.arange(1,9),np.arange(8),inplace=True)

In [30]:
df['lifting'].value_counts()

0.0    2791
7.0    1805
5.0    1322
3.0    1289
2.0    1119
4.0     897
1.0     852
6.0     479
Name: lifting, dtype: int64

### Dataframe after replacing all the data following the book example

In [31]:
#Swap the columns to match exactly the dataframe
df = df[['age','gender','grade','height','weight','helmet','active','lifting']]

In [32]:
df.head(20)

     age gender  grade  height  weight      helmet  active  lifting
0   12.0   male   11.0    1.68   68.04       never     2.0      7.0
1   12.0   male    9.0    1.75   50.35       never     2.0      0.0
2   12.0   male    9.0    1.70   44.45      always     1.0      7.0
3   12.0   male   12.0    1.80   81.19       never     1.0      7.0
4   12.0   male   10.0    1.68   45.36       never     2.0      5.0
5   13.0   male    9.0    1.83  113.40       never     1.0      6.0
6   13.0   male    9.0    1.65   90.72  not riding     2.0      2.0
7   13.0   male    9.0    1.85  180.99      always     1.0      7.0
8   13.0   male    9.0    1.68   58.06      rarely     1.0      5.0
9   13.0   male    9.0    1.68   61.24  not riding     2.0      2.0
10  14.0   male    9.0    1.73   57.61  not riding     2.0      3.0
11  14.0   male    9.0    1.85   92.99  not riding     1.0      5.0
12  14.0   male    9.0    1.63   55.79  not riding     2.0      2.0
13  14.0   male    9.0    1.70   70.31       never     2.0      2.0
14  14.0   male    9.0    1.80   63.50       never     1.0      7.0
15  14.0   male    9.0    1.57   60.33       never     2.0      0.0
16  14.0   male    9.0    1.75   59.88       never     2.0      1.0
17  14.0   male    9.0    1.83   63.50       never     1.0      5.0
18  14.0   male    9.0    1.65   72.58  not riding     2.0      3.0
19  14.0   male    9.0    1.88  104.33       never     1.0      2.0

## * Exporting the file in csv

In [33]:
df.to_csv('../Dataset/yrbss_2011.csv')
print('Done')

Done